.container,
body {
	box-sizing: border-box;
}

h1,
h2,
h3,
p {
	margin: 0;
}

body {
	padding: 0;
	font-weight: 400;
	font-family: "Open Sans", "Arial", sans-serif;
	background-color: #f9fdff;
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1220px;
	min-width: 320px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}

.page-main h1,
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	font-size: 1px;
	white-space: nowrap;
	border: 0;
	clip: rect(0, 0, 0, 0);
	clip-path: inset(100%);
}

.page-header {
	overflow: hidden;
}

.page-header__wrapper {
	display: flex;
	padding-top: 85px;
	position: relative;
}

.page-header__wrapper::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 200%;
	top: 0;
	left: 65.5%;
	background-color: #fceae8;
	z-index: -1;
}

.page-header__logo {
	padding-top: 5px;
}

.page-header__site-nav {
	flex-grow: 1;
	margin-left: 140px;
	padding-top: 5px;
}

.site-nav__list {
	display: flex;
	flex-wrap: wrap;
	width: 380px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-nav__item {
	width: 33.3%;
}

.site-nav__item:nth-child(3n) {
	text-align: right;
}

.site-nav__item a {
	font-size: 14px;
	line-height: 19px;
	color: var(--text-color);
	text-transform: uppercase;
	letter-spacing: .13em;
}

.site-nav__item a:focus,
.site-nav__item a:hover {
	opacity: 0.8;
}

.site-nav__item a:active {
	opacity: 0.6;
}

.site-nav__button {
	display: none;
}

.user-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 0 10px 0 0;
	padding: 0;
	list-style: none;
}

.user-nav__item a {
	display: block;
}

.user-nav__item a:focus,
.user-nav__item a:hover {
	opacity: 0.8;
}

.user-nav__item a:active {
	opacity: 0.6;
}

.user-nav__item--cart a,
.user-nav__item--search a {
	width: 24px;
	height: 28px;
	background-image: url("../img/icon-magnifier.svg");
	background-repeat: no-repeat;
	background-size: 24px 27px;
	background-position: center bottom;
}

.user-nav__item--cart a {
	width: 33px;
	background-image: url("../img/icon-cart.svg");
	background-size: 33px 28px;
	background-position: center;
}

.user-nav__item--cart a {
	margin-left: 22px;
}

.user-nav__item--burger{
	display: none;
}

.user-nav__item--burger a {
	width: 26px;
	height: 26px;
	margin-left: 22px;
}

.user-nav__item--burger img {
	width: 26px;
	height: 26px;
}

.page-main {
	overflow: hidden;
}

.main-screen {
	position: relative;
	margin-bottom: 110px;
}

.main-screen::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100vw;
	top: 0;
	left: 64.5%;
	background-color: #fceae8;
	z-index: -1;
}

.main-screen .swiper-pagination {
	top: 216px;
	left: auto;
	right: 2.3%;
	width: 41px;
}

.main-screen .swiper-pagination-bullets .swiper-pagination-bullet {
	margin-bottom: 0 0 20px 0;
}

.main-screen .swiper-pagination-bullets .swiper-pagination-bullet-active {
	margin-top: -20px;
}

.main-screen .swiper-slide {
	background: linear-gradient(to right, #f9fdff 66.1%, #fceae8 66.1%);
}

.main-screen .swiper-scrollbar {
	display: none;
}

.main-screen .swiper-pagination-bullet {
	width: 41px;
	height: 29px;
	font-family: "Playfair Display", "Georgia", serif;
	font-size: 20px;
	line-height: 29px;
	letter-spacing: 0.05em;
	text-align: right;
	text-transform: uppercase;
	color: rgba(0, 0, 0, .3);
	background: 0 0;
	border-radius: none;
	opacity: 1;
}

.main-screen .swiper-pagination-bullet:focus,
.main-screen .swiper-pagination-bullet:hover {
	color: rgba(0, 0, 0, .8);
	outline: 0;
}

.main-screen .swiper-pagination-bullet-active {
	position: relative;
	width: 41px;
	height: 58px;
	margin-top: -20px;
	font-size: 40px;
	line-height: 58px;
	color: #000000;
}

.main-screen .swiper-pagination-bullet-active::after {
	content: "";
	position: absolute;
	top: 6px;
	right: -20px;
	width: 2px;
	height: 54px;
	background-color: #000000;
}

.product--slider,
.product--slider .product__info,
.product--slider .product__info p {
	display: flex;
}

.product--slider {
	min-height: 628px;
	box-sizing: border-box;
	padding-top: 7px;
}

.product--slider .product__info {
	position: relative;
	flex-direction: column;
	flex-shrink: 1;
	width: 566px;
}

.product--slider .product__info h2 {
	width: 300px;
	margin: 109px 0 25px;
	padding: 0;
	font-family: "Playfair Display", "Georgia", serif;
	font-weight: 700;
	font-size: 57px;
	line-height: 83px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: var(--text-color);
}

.product--slider .product__info h3 {
	margin-top: 0;
	margin-bottom: 11px;
	font-weight: 400;
	font-size: 20px;
	line-height: 27px;
	color: var(--text-color);
}

.product--slider .product__info p {
	margin-top: 0;
	margin-bottom: 35px;
	font-weight: 500;
	font-size: 30px;
	line-height: 41px;
	color: var(--text-color);
}

.product--slider .product__info p span {
	margin-top: 11px;
	margin-right: 22px;
	font-weight: 400;
	font-size: 20px;
	line-height: 27px;
}

.product--slider .product__button {
	width: 238px;
	margin-bottom: 156px;
	padding: 18px;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: .13em;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #303032;
	border: 0;
	cursor: pointer;
}

.page-footer__navigation-item a:focus,
.page-footer__navigation-item a:hover,
.product--slider .product__button:focus,
.product--slider .product__button:hover {
	opacity: 0.8;
}

.page-footer__navigation-item a:active,
.product--slider .product__button:active {
	opacity: 0.6;
}

.product--slider .product__image {
	margin-right: 6.7%;
	width: 532px;
	height: 628px;
}

.product--slider .product__image img {
	width: 532px;
	height: auto;
	margin-top: -123px;
}


/* section new-product */
.new-product {
	width: 100%;
	display: flex;
	margin-bottom: 102px;
}

.new-product span {
	font-weight: 600;
	font-size: 28px;
}

.flex-container-left {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-around;
}

.flex-center-y {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.title-new-product{
	align-self: center;
}

.new-product .container-left a {
	width: 270px;
	height: 289px;
}

.product__image {
	height: 201px;
	overflow: hidden;
}

.new-product .container-right a {
	width: 570px;
	height: 614px;
	text-align: center;
}

.container-right img {
	height: 466px;
}

.new-product .container-left a,
.new-product .container-right a {
	background: #FFFFFF;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
	text-decoration: none;
	font: var(--оpen-sans-400);
	font-size: 20px;
	color: var(--text-color);
}

.new-product .container-left a:hover,
.new-product .container-right a:hover {
	background-color: #FAECE9;
}

#all-new-product-link {
	background: none;
	box-shadow: none;
	align-items: flex-start;
	position: relative;
	height: 33px;
	text-transform: uppercase;

	margin: auto 0;
	width: 173px;
	margin-right: 96px;
	font: var(--playfair-gisplay-700);
	color: var(--text-color);
}

#all-new-product-link:after,
.discounts h2:after {
	content: "";
	position: absolute;
	width: 90px;
	height: 4px;
	left: 0;
	bottom: -20px;
	background-color: #303032;
}

#all-new-product-link:hover,
#all-new-product-link:hover:after {
	opacity: 0.8;
}


/* reviews */
.reviews {
	margin-bottom: 100px;
	cursor: pointer;
}

.reviews .swiper {
	width: 100%;
	height: 100%;
	min-height: 290px;
}

.reviews .swiper-slide {
	text-align: center;
	font-size: 18px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.reviews .swiper-button-next,
.reviews .swiper-button-prev {
	width: var(--swiper-background-size);
	height: var(--swiper-background-size);
	background-color: var(--swiper-background-color);
	border-radius: 50%;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.reviews .swiper-button-prev {
	left: 180px;
}

.reviews .swiper-button-next {
	right: 180px;
}

.buyer-feedback img {
	height: 80px;
	border-radius: 40px;
	margin-bottom: 25px;
}

.buyer-feedback h3 {
	font: var(--оpen-sans-400);
	color: var(--buyer-feedback-text-color);
	margin-bottom: 6px;
}

.buyer-feedback span {
	font: var(--оpen-sans-400);
	color: var(--buyer-feedback-text-color);
	margin-bottom: 15px;
}

.buyer-feedback p {
	font: var(--оpen-sans-400);
	font-style: italic;
	line-height: 154.36%;
	color: var(--buyer-feedback-text-color);
	max-width: 653px;
	min-width: 396px;
}


/* section discounts */
.tabs__list {
	margin-bottom: 25px;
}

.tabs__content {
	display: none;
}

.tabs__content--active {
	display: block;
}

.tabs__btn {
	background-color: transparent;
	position: relative;
	text-decoration-line: none;
	border: none;
	text-align: start;
	margin-right: 48px;
	padding: 0;
	cursor: pointer;
	outline: none;

	color: rgba(0, 0, 0, 0.4);
	font: var(--оpen-sans-600);
}

.tabs__btn--active {
	color: #000000;
}

.tabs__btn--active:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0;
	bottom: 0;
	background-color: #303032;
}

.discounts {
	min-height: 626px;
	margin-bottom: 66px;
	position: relative;
	padding-top: 73px;
}

.discounts::before {
	content: "";
	position: absolute;
	height: 85%;
	width: 100vw;
	top: 0;
	right: 43%;
	background-color: #fceae8;
	z-index: -1;
}

.discounts h2 {
	position: relative;
	margin-bottom: 48px;
	text-transform: uppercase;
	font: var(--playfair-gisplay-700);
	color: var(--text-color);
}

.discount-card {
	width: 209px;
	height: 355px;
	background: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(56, 54, 53, 0.2);
	cursor: pointer;
	border-top: 5px solid transparent;
}

.info-discount-card {
	padding-left: 27px;
	margin-bottom: 22px;
	margin-top: 26px;
}

.info-discount-card h3 {
	font: var(--оpen-sans-400);
	color: #000000;
	margin-bottom: 11px;
}

.info-discount-card p {
	font: var(--оpen-sans-600);
	font-size: 28px;
	color: var(--text-color);
}

.info-discount-card span {
	font: var(--оpen-sans-600);
	text-decoration-line: line-through;
	color: #979798;
	margin-left: 11px;
}

.discount-card img {
	display: block;
	margin-left: auto;
	height: 236px;
}

.discount-card:hover {
	border-top: 5px solid #303032;
}

.buy_button {
	background-color: #303032;
	color: #FFFFFF;
	width: 100%;
	padding: 18px 66px;
	border: none;
	display: none;
	cursor: pointer;

	font: var(--оpen-sans-400);
	text-align: center;
	text-transform: uppercase;
}

.discount-card:hover .buy_button {
	display: block;
}

.slider_discount_container .discounts_slider{
	height: 420px;
}

/* не смогла никак иначе опустить swiper-pagination */
.discounts_slider .swiper-pagination {
    top: 413px;
}

.discounts_slider .swiper-pagination {
	left: 0;
	bottom: 0;
}


/* footer */
.footer-flex {
	display: flex;
	justify-content: space-between;
}

.page-footer {
	background: #FFFFFF;
	padding-top: 101px;
}

.page-footer .links-footer {
	margin-bottom: 31px;
}

#img-logo {
	margin-bottom: 31px;
}

.page-footer .about-the-store {
	width: 505px;
	height: 20px;
}

.page-footer .about-the-store a {
	font: var(--оpen-sans-600);
	font-size: 14px;
	color: var(--text-color);
	text-decoration: none;
	text-transform: uppercase;
}

.page-footer .about-the-store a:hover {
	opacity: 0.8;
}

.page-footer .contacts {
	width: 377px;
	align-items: center;
}

.page-footer .contacts a {
	font: var(--roboto-400);
	color: var(--text-color);
	text-decoration: none;
}

.page-footer .contacts a:hover {
	opacity: 0.8;
}

.page-footer .law {
	text-align: end;
	padding: 10px 0;
	position: relative;
}

.page-footer .law::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0;
	top: 0px;
	background: #000000;
	opacity: 0.2;
}

.page-footer .law p {
	font: var(---оpen-sans-400);
	font-size: 10px;
	color: #000000;
	opacity: 0.2;
}

.v-a-middle {
	vertical-align: middle;
}

.m-r-8px {
	margin-right: 8px;
}