:root {
    --swiper-theme-color: #B3B3B3;
	--swiper-navigation-color: #B3B3B3;
	--swiper-background-color: #FFFFFF; 

	--swiper-navigation-size: 14px;
	--swiper-background-size: 24px;

	--оpen-sans-400: 400 16px 'Open Sans', sans-serif;
	--оpen-sans-600: 600 16px 'Open Sans', sans-serif;
	--оpen-sans-700: 700 18px 'Open Sans', sans-serif;
	--playfair-gisplay-700: 700 28px 'Playfair Display', "Georgia", sans-serif;
	--roboto-400: 400 16px 'Roboto', sans-serif;
	--text-color:#303032;
	--buyer-feedback-text-color:#444348;

	--swiper-theme-color: #303032;
}

